In [49]:
import requests
import pandas as pd
from pandas.io.json import json_normalize

In [50]:
url = "https://api.spacexdata.com/v3/launches"
launches = requests.get(url)#.json()

launches

In [48]:
ds = pd.DataFrame(launches)
ds["rocket"]

0      {'rocket_id': 'falcon1', 'rocket_name': 'Falco...
1      {'rocket_id': 'falcon1', 'rocket_name': 'Falco...
2      {'rocket_id': 'falcon1', 'rocket_name': 'Falco...
3      {'rocket_id': 'falcon1', 'rocket_name': 'Falco...
4      {'rocket_id': 'falcon1', 'rocket_name': 'Falco...
                             ...
96     {'rocket_id': 'falcon9', 'rocket_name': 'Falco...
97     {'rocket_id': 'falcon9', 'rocket_name': 'Falco...
98     {'rocket_id': 'falcon9', 'rocket_name': 'Falco...
99     {'rocket_id': 'falcon9', 'rocket_name': 'Falco...
100    {'rocket_id': 'falcon9', 'rocket_name': 'Falco...
Name: rocket, Length: 101, dtype: object

In [66]:
norm_json = json_normalize(launches.json())
ds_normalized = pd.DataFrame(norm_json)
rocket = ds_normalized["rocket.second_stage.payloads"]

In [56]:
df = pd.DataFrame(rocket)

In [57]:
df

                          rocket.second_stage.payloads
0    [{'payload_id': 'FalconSAT-2', 'norad_id': [],...
1    [{'payload_id': 'DemoSAT', 'norad_id': [], 're...
2    [{'payload_id': 'Trailblazer', 'norad_id': [],...
3    [{'payload_id': 'RatSat', 'norad_id': [33393],...
4    [{'payload_id': 'RazakSAT', 'norad_id': [35578...
..                                                 ...
96   [{'payload_id': 'GTO-2', 'norad_id': [], 'reus...
97   [{'payload_id': 'Turksat 5A', 'norad_id': [], ...
98   [{'payload_id': 'SXM-8', 'norad_id': [], 'reus...
99   [{'payload_id': 'CRS-21', 'norad_id': [], 'cap...
100  [{'payload_id': 'GPS SV05', 'norad_id': [], 'r...

[101 rows x 1 columns]